$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 320px;
$gray-text: rgb(110, 110, 110);
$icon-list: (
  'git-alt': rgb(235, 80, 50),
  'sass': rgb(198, 99, 147),
  'js-square': rgb(134, 207, 74),
  'react': rgb(77, 170, 224),
  'node': black,
  'gulp': rgba(255, 0, 0, 0.61),
  'python': rgb(14, 114, 196),
  'java': rgb(255, 136, 0),
  'share': lightgray,
);

@each $icon, $color in $icon-list {
  .fa-#{$icon} {
    color: #{$color};
  }
}

body {
  background-image: url('../media/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Noto Sans TC';
  -webkit-font-smoothing: subpixel-antialiased;
}

html {
  scroll-behavior: smooth;
}

nav {
  align-items: center;
  font-family: 'Roboto';
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#about {
  background: white;
  color: $gray-text;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100vh;

  .title {
    color: black;
    font-size: 3rem;
    font-weight: 900;
  }
}

#cover {
  align-items: center;
  color: white;
  display: flex;
  font-family: 'Roboto';
  height: 100vh;
  padding: 2rem;
  position: fixed;
  top: 5rem;
  width: 100%;
  z-index: -1;
}

#logo {
  color: #eee;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 1rem 0;
}

#portfolio {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#skillsets {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: min-content;
  gap: 1rem 2rem;
  justify-content: center;
}

#skillsets i {
  font-size: 4rem;
  position: relative;
  transition: bottom 0.5s;
  bottom: 0;
  &:hover {
    bottom: 0.5rem;
    transition: 0.3s;
  }
  &:hover + div {
    opacity: 1;
  }
}

@media (max-width: 1000px) and (min-width: $screen-md),
  (max-width: $screen-sm) {
  #skillsets {
    grid-template-columns: auto auto auto;
  }
}

.description {
  color: $gray-text;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.divider {
  width: 80%;
}

.hidden-cap {
  font-size: 0.8rem;
  transition: 0.3s;
  opacity: 0;
}

.img-container {
  background: black;
  overflow: hidden;
  &:hover .overlay {
    display: block;
  }
}

.motto {
  font-size: 6vw;
}

.nav-hide,
.nav-link {
  color: #ccc;
  font-size: 1.25rem;
  margin: 0.75rem;
  transition: 0.3s;
  &:hover {
    color: white;
  }
}

.nav-link {
  display: none;
  font-size: 1rem;
}

.nav-left {
  align-items: center;
  display: flex;
  margin-left: 2rem;
}

.nav-right {
  align-items: center;
  display: flex;
  margin-right: 2rem;
  i {
    font-size: 1.25rem;
    // color:
  }
}

.opaque-black {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1rem);
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.1);
  #logo {
    margin: 0.5rem 0;
  }
}

.overlay {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  // left: 50%;
  // right: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  z-index: 1;
}

.personal-attr {
  color: rgb(77, 156, 133);
  line-height: 1.75rem;
}

.project {
  background-color: white;
  border-radius: 0;
  border: none;
  bottom: 0;
  display: flex;
  top: -3rem;
  margin: 1.5rem 0;
  height: 40vw;
  max-height: 25rem;
  position: relative;
  transition: 0.3s;

  &:hover {
    bottom: -2px;

    .text-container {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
      transition: 0.3s;
    }
  }

  h4 {
    font-weight: bolder;
    &:hover {
      color: rgb(31, 185, 185);
    }
  }

  img,
  video {
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.3s;
    width: 100%;

    &:hover {
      opacity: 0.7;
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  .flex-1 {
    flex: 1;
    flex-basis: 50%;
  }

  .text-container {
    // border: 1px solid #F5F5F5;
    font-family: Noto Sans TC;
    box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.15);
    justify-content: space-around;
    padding: 3rem;
    transition: 0.3s;
  }
}

@media (max-width: 767px) {
  .project {
    flex-direction: column-reverse;
    height: auto;
    max-height: none;
  }
  .img-container {
    height: 65vw;
  }
}

.tags {
  color: rgb(6, 97, 150);
  font-size: 0.9rem;
  word-wrap: break-word;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: 12vw;
  font-family: 'Roboto';
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

@media (min-width: $screen-xs) {
  #about,
  #portfolio {
    padding: 5rem 1rem;
  }
}

@media (min-width: $screen-sm) {
  #about,
  #cover,
  #portfolio {
    padding: 5rem 2rem;
  }
  #about .title {
    font-size: 4rem;
  }
  .nav-link {
    display: inline-block;
  }
  .nav-hide {
    display: none;
  }
}

@media (min-width: $screen-md) {
  #about,
  #cover,
  #portfolio {
    padding: 5rem 3rem;
  }
  .motto {
    font-size: 3rem;
  }
  .title {
    font-size: 6rem;
  }
}

@media (min-width: $screen-lg) {
  #about,
  #cover,
  #portfolio {
    padding: 5rem 6rem;
  }
}
