nav.landing {
  background-color: unset;
  backdrop-filter: unset;
  box-shadow: none;
  
  a {
    color: #FAFAFA;
    
    &:hover {
      color: #FFFFFF;
    }
  }

  .nav-link {
    display: none;
  }
}

#landing-bg {
  background: linear-gradient(-90deg, rgb(65,226,213) 20%, rgb(121,155,233) 100%);
  height: 100vh;
}

#landing {
  color:  white;
  font-size: 2.25rem;
  padding: 0;
  z-index: 1;
}

#logo {
  font-family: 'Roboto';
  font-weight: bold;
  margin: 0;
}

.particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}